{% extends "base.html.twig" %}

{% block title %}Streemi - Publications{% endblock %}

{% block content_layout %}
    <section class="py-6 px-4 bg-gray-100 ">
        <div class="max-w-7xl mx-auto">
        <div class="mb-6 flex gap-2 justify-center">
        {% for tag in tags %}
                                             <a href="{{ path('publications_all_publications', {'tag': tag.id}) }}" class="bg-orange-500 text-white text-xs font-semibold py-1 px-3 rounded-full transition transform hover:scale-105 hover:shadow-xl">
            {{ tag.label }}
        </a>

        {% endfor %}
        </div>
            <div  class="flex flex-col px-2 gap-6">
                {% for publication in publications %}
                    <div class="bg-white rounded-lg shadow-md overflow-hidden transition transform hover:scale-105 hover:shadow-xl cursor-pointer p-4">
                        <a href={{ path('publications_single_publication', { 'id': publication.id }) }} class="block p-6">
                            <div class="flex justify-between items-center">
                                <h2 class="text-2xl font-semibold text-gray-900">{{ publication.title }}</h2>
                                <span class="text-gray-500 text-sm">{{ publication.createdAt|date('d M Y') }}</span>
                            </div>
                            <p class="mt-2 text-gray-600 text-sm">{{ publication.content|slice(0, 150) }}...</p>
                            
                            {# Affichage des tags sous forme de badges #}
                            <div class="mt-4 flex flex-wrap gap-2">
                                {% for tag in publication.getTag() %}
                                    <span class="bg-blue-500 text-white text-xs font-semibold py-1 px-3 rounded-full">{{ tag.label }}</span>
                       
                                {% endfor %}
                            </div>
                        </a>
                    </div>
                {% else %}
                    <p class="text-gray-600 text-center w-full py-4">Aucune publication disponible</p>
                {% endfor %}
            </div>

            {# Pagination #}
            <div class="mt-8 flex justify-center">
                <div class="flex items-center space-x-2">
                    {# Lien vers la page précédente #}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': currentPage - 1})) }}" 
                       class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 {{ currentPage > 1 ? '' : 'cursor-not-allowed opacity-50' }}" 
                       {% if currentPage == 1 %}disabled{% endif %}>
                        Précédent
                    </a>

                    {# Lien vers la page suivante #}
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.query.all | merge({'page': currentPage + 1})) }}" 
                       class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 {{ currentPage < totalPages ? '' : 'cursor-not-allowed opacity-50' }}" 
                       {% if currentPage == totalPages %}disabled{% endif %}>
                        Suivant
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
